body {
	margin: 0;
	padding: 0;
	background-color: #e6ebef;
	color: #212121;
	font-family: Roboto;
}

header {
	width: 100%;
	height: 226px;
	background-color: #5682a3;
}

.row {
	margin-top: -152px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	width: 500px;
}

.block {
	display: block;
	background-color: white;
	margin-top: 26px;
	-webkit-box-shadow: 0 1px 1px rgba(97, 127, 152, .2), 1px 0 0 rgba(97, 127, 152, .1), -1px 0 0 rgba(97, 127, 152, .1);
	-moz-box-shadow: 0 1px 1px rgba(97, 127, 152, .2), 1px 0 0 rgba(97, 127, 152, .1), -1px 0 0 rgba(97, 127, 152, .1);
	box-shadow: 0 1px 1px rgba(97, 127, 152, .2), 1px 0 0 rgba(97, 127, 152, .1), -1px 0 0 rgba(97, 127, 152, .1);
	border-radius: 2px;
}

.content {
	padding: 10px;
}

.mybutton {
	background-color: Transparent;
	background-repeat: no-repeat;
	padding-top: 10px;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	color: #2196F3;
	font-weight: bold;
	font-size: 10pt;
	margin-left: 83%;
	height: 30px;
	width: 100px;

}

.myinput {
	color: #000;
	background: #ffffff;
	border: 0;
	outline: 0;
	font-size: 13px;
	padding: 3px 0;
	margin: 3px 0 0;
	width: 100%;
}

.blockheader {
	width: auto;
	height: 35px;
	background-color: #6889a2;
	color: white;
	padding: 15px 0 0 10px;

}

table {
	text-align: center;
}